<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAJCYDrZKgJC_U-i1TOeb6kFlk-HIqvS70</string>
	<key>GCM_SENDER_ID</key>
	<string>731517181769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myApp</string>
	<key>PROJECT_ID</key>
	<string>myfirstfirebase-4b1eb</string>
	<key>STORAGE_BUCKET</key>
	<string>myfirstfirebase-4b1eb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:731517181769:ios:09ffe0069c6e0fe8b80498</string>
	<key>DATABASE_URL</key>
	<string>https://myfirstfirebase-4b1eb-default-rtdb.firebaseio.com</string>
</dict>
</plist>